<!DOCTYPE html>
<html lang="es">
    <meta charset="UTF-8">
<head>
    <title>Clasificación de Sequías</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <h1>Clasificación de Sequías</h1>
    <h2>Resumen</h2>
    <h3>Accuracy de los Modelos</h3>
    {{ accuracy_table | safe }}

    <img src="data:image/png;base64,{{ accuracy_chart }}" alt="Accuracy Chart">
       
    <h3>F1-Score de los Modelos</h3>
    {{ f1_score_table | safe }}
    
    <img src="data:image/png;base64,{{ f1_score_chart }}" alt="F1 Score Chart">

    <h3> F1-Score global </h3>
    {{ f1_global | safe }}

    {% for model in results %}
    <div style="border-width: 2px; border-color: black; border-style: solid;"> 
        <h2>Modelo: {{ model.test_name }}</h2>
        <h3>Métricas Detalladas</h3>
        <ul>
            <li><b>Accuracy:</b> {{ model.accuracy }}</li>
            <li><b>Precision:</b> {{ model.precision }}</li>
            <li><b>Recall:</b> {{ model.recall }}</li>
            <li><b>F1-Score:</b> {{ model.f1_score }}</li>
        </ul>
        
        {% for tipo in model.tipos_info %}
        <div style="border-width: 1px; border-color: gray; border-style: solid;">
        Datos de {{ tipo }} ({{ model.test_name }})
                <ul>
            <li><b>Accuracy:</b> {{ model.tipos_info[tipo].accuracy }}</li>
            <li><b>Precision:</b> {{ model.tipos_info[tipo].precision }}</li>
            <li><b>Recall:</b> {{ model.tipos_info[tipo].recall }}</li>
            <li><b>F1-Score:</b> {{ model.tipos_info[tipo].f1_score }}</li>
        </ul>
        <img src="data:image/png;base64,{{ model.tipos_info[tipo].cm_image }}" alt="Confusion Matrix">
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</body>
</html>